.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: top;
  justify-items: center;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.table {
  border: 1px solid white;

  td, th {
    padding: 10px;
    border-left: 1px solid white;
    padding: 10px;

    &:first-child {
      border-left: 0;
    }
  }

  th {
    border-bottom: 1px solid white;
  }
}

