.coinTable {
  border: 1px solid white;

  td, th {
    padding: 10px;
    border-left: 1px solid white;
    padding: 10px;

    &:first-child {
      border-left: 0;
    }
  }

  th {
    border-bottom: 1px solid white;
  }
}